/* Estilos gerais do corpo da página */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Cabeçalho do site */
header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Título principal no cabeçalho */
header h1 {
  margin: 0;
  color: black;
}

/* Links do menu de navegação */
nav a {
  margin-left: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

/* Efeito ao passar o mouse nos links do menu */
nav a:hover {
  text-decoration: underline;
}

/* Seção principal de destaque */
.hero {
  position: relative;
  display: left;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #40a670;
  text-align: justify;
  padding: 2rem;
  overflow: hidden;
 
}

/* Container da imagem na seção hero */
.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
  max-height: 100%;
  z-index: 0;
  display: flex;
  justify-content: right;
  
  
}

/* Estilo da imagem dentro do container hero-image */
.hero-image img {
  height: 100%;
  max-height: 100%;
  width: auto;
}

/* Conteúdo textual da seção hero */
.hero-content {
  max-width: 940px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0px 4px 15px black;
 
}


/* Seção do formulário de doação */
.form-section {
  padding: 2rem;
  background-color: #ffffff;  
 
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

/* Campos de entrada do formulário */
input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botão do formulário */
button {
  background-color: #40a670;
  color: white;
  border: none;
  padding: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

/* Efeito ao passar o mouse no botão */
button:hover {
  background-color: #345250;
}

/* Seção de tipos de livros */
.tipos-livros {
  padding: 2rem;
  background-color: #40a670;
}

/* Lista de tipos de livros */
.tipos-livros ul {
  list-style-type: square;
  padding-left: 2rem;
}

/* Seção de coleta de doações */
.coleta {
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  font-style: italic;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Container do logo no cabeçalho */
.logo-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* Imagem do logo */
.logo {
  width: 60px;
  height: auto;
}

/* Parágrafos gerais */
p{
  font-size: 22px;
}